@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

*{
  margin: 0 auto;
  padding: 0%;
}

body{
  background: #e67c7c;
  text-align: center;
}

.sim{
  position: absolute;
  top: 70%;
  right: 30%;
  text-align: center;
  color: black;
  border: 3px solid #1b8d2c;
  background: #d9ffdf;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.nao{
  position: absolute;
  top: 70%;
  left: 30%;
  text-align: center;
  color: black;
  border: 3px solid #9c2929;
  background: #fac1c1;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.titulo{
  font-family: 'Fast Hand';
  color: #e2e2e2;
  font-size: 6rem;
  margin: 0;
  padding: 20px;
}

.tituloD{
  text-align: center;
  font-family: 'Fast Hand';
  color: #e2e2e2;
  font-size: 1.6rem;
  /* margin: 0; */
  padding: 20px;
}

.heart{
  margin-top: -15px;
  font-size: 120px;
  color: #e00;
  animation: beat .10s infinite alternate;
  /* transform-origin: center; */
}

img{
  width: 20%;
  border-radius: 10%;
}

@keyframes beat{
  to { transform: scale(0.9) }
};

/* RESPONSIVO */
/* @media (max-width: 1104px){
  p{
    font: 0.3rem 'Fast Hand', cursive;;
  }
  .heart {
    margin-top: -15px;
    font-size: 10px;
    color: #e00;
    animation: beat .10s infinite alternate;
    transform-origin: center;
  }
  img{
    width: 20%;
    border-radius: 50%;
  }
} */